<a href="https://colab.research.google.com/github/StillWork/ds-lab/blob/master/first.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬 연습
- 셀 삭제 ^md
- 셀 추가   메뉴에서
- 실행 > ^enter  shft enter

In [12]:
# 리스트, 튜플, 익셔너리, 데이터프레임
x = []
x

[]

## 리스트연습
#### 작은제목
- 연습
- 마크다운
> 자세한 내용  
> 추가내용

In [0]:
x.append(7) ; x

In [23]:
x = [1,2,3,4,5] ; x[2:4]  # slicing

[3, 4]

In [24]:
x.append(6) ;x

[1, 2, 3, 4, 5, 6]

In [0]:
y = {'name':['kim', 'lee'], 'age':[35, 40]} ; y # dictionary
y['addr'] = ['seoul', 'busan'] ; y

In [0]:
import pandas as pd
import numpy as np
df = pd.DataFrame(y) ;df

In [0]:
df[['name', 'age']]

In [0]:
df['nat'] = [0,1] ; df

In [21]:
df[df.age > 38]

  name  age   addr  nat
1  lee   40  busan    1

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
/content/drive/My Drive/,,,,,,,