<a href="https://colab.research.google.com/github/StillWork/ds-lab/blob/master/gg_z_time_series_0_read_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/Azure/RNNForTimeSeriesForecasting.git

Cloning into 'RNNForTimeSeriesForecasting'...
remote: Enumerating objects: 238, done.
remote: Total 238 (delta 0), reused 0 (delta 0), pack-reused 238
Receiving objects: 100% (238/238), 25.61 MiB | 23.08 MiB/s, done.
Resolving deltas: 100% (97/97), done.

In [2]:
!ls

RNNForTimeSeriesForecasting  sample_data

In [0]:
!cd RNNForTimeSeriesForecasting/

In [5]:
!ls RNNForTimeSeriesForecasting/

0_data_setup.ipynb
1_time_series_arima.ipynb
2_one_step_FF_univariate.ipynb
3_one_step_RNN_univariate.ipynb
4_multi_step_RNN_vector_output.ipynb
5_multi_step_RNN_encoder_decoder_simple.ipynb
common
data
images
LICENSE
Quiz_multi_step_RNN_encoder_decoder.ipynb
Quiz_one_step_RNN_multivariate.ipynb
Quiz_weight_initialization.ipynb
README.md
ReferenceNotebook
Requirements.txt
scripts
Slides

In [0]:
import os
import warnings
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import datetime as dt
import math

from pandas.tools.plotting import autocorrelation_plot
# from pyramid.arima import auto_arima
from statsmodels.tsa.statespace.sarimax import SARIMAX
from sklearn.preprocessing import MinMaxScaler
from RNNForTimeSeriesForecasting.common.utils import load_data, mape
from IPython.display import Image

%matplotlib inline
pd.options.display.float_format = '{:,.2f}'.format
np.set_printoptions(precision=2)
warnings.filterwarnings("ignore") # specify to ignore warning messages

In [41]:
!wget https://bit.ly/2Fj0z2P -O ./data/energy.csv

--2019-03-17 01:01:57--  https://bit.ly/2Fj0z2P
Resolving bit.ly (bit.ly)... 67.199.248.11, 67.199.248.10
Connecting to bit.ly (bit.ly)|67.199.248.11|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://www.dropbox.com/s/3to0akhmbhk65ws/energy_3years.csv?dl=1 [following]
--2019-03-17 01:01:57--  https://www.dropbox.com/s/3to0akhmbhk65ws/energy_3years.csv?dl=1
Resolving www.dropbox.com (www.dropbox.com)... 162.125.8.1, 2620:100:6016:1::a27d:101
Connecting to www.dropbox.com (www.dropbox.com)|162.125.8.1|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/dl/3to0akhmbhk65ws/energy_3years.csv [following]
--2019-03-17 01:01:57--  https://www.dropbox.com/s/dl/3to0akhmbhk65ws/energy_3years.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc33290074caeddbdb209b81bf3a.dl.dropboxusercontent.com/cd/0/get/AdMCpi0jYsBHFcqphXqH43sII0kwYOANTY_n5T-kDR883PjYQ6k1qAVtHvWJGcr7AbVDqkerjEB6TwWP76TUKHd1fAGj8Zk85dg1IF3ImtUP8eFKGEglUx6zsfKdhp1JL90/file?dl=1# [following]
--2019-03-17 01:01:57--  https://uc33290074caeddbdb209b81bf3a.dl.dropboxusercontent.com/cd/0/get/AdMCpi0jYsBHFcqphXqH43sII0kwYOANTY_n5T-kDR883PjYQ6k1qAVtHvWJGcr7AbVDqkerjEB6TwWP76TUKHd1fAGj8Zk85dg1IF3ImtUP8eFKGEglUx6zsfKdhp1JL90/file?dl=1
Resolving uc33290074caeddbdb209b81bf3a.dl.dropboxusercontent.com (uc33290074caeddbdb209b81bf3a.dl.dropboxusercontent.com)... 162.125.1.6, 2620:100:601b:6::a27d:806
Connecting to uc33290074caeddbdb209b81bf3a.dl.dropboxusercontent.com (uc33290074caeddbdb209b81bf3a.dl.dropboxusercontent.com)|162.125.1.6|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 980142 (957K) [application/binary]
Saving to: ‘./data/energy.csv’

./data/energy.csv   100%[===================>] 957.17K  --.-KB/s    in 0.08s

2019-03-17 01:01:58 (11.4 MB/s) - ‘./data/energy.csv’ saved [980142/980142]

In [42]:
import pandas as pd

energy = pd.read_csv('data/energy.csv', parse_dates=['timestamp'])
energy.head()

            timestamp     load  temp
0 2012-01-01 00:00:00 2,698.00 32.00
1 2012-01-01 01:00:00 2,558.00 32.67
2 2012-01-01 02:00:00 2,444.00 30.00
3 2012-01-01 03:00:00 2,402.00 31.00
4 2012-01-01 04:00:00 2,403.00 32.00